@import '~bootstrap/scss/bootstrap.scss';
@import 'bootstrap-icons/font/bootstrap-icons.css';
// used for icons in footer
.icon {
  height: 1em;
  margin: 1em;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.spinner{
  z-index: 9999;
}

[data-theme="dark"]{
  background-color: #303030;
  color:#fff;
}
